/*

Damascus Base CSS

*/

header img {
    height: 4em;
	margin-left: 1em;
}


main {
    color: white;
}

input, select {
	border-radius: 4px;
	padding: .25em;
	border: .4px solid black;
}

body {
	background-image: url("leaves.png");
	font-family: Roboto Light;
    margin-top: 7em;
	padding: 1em;
	margin-bottom: 7em;
	overflow-x: hidden;
}

label
{
	font-family: open sans;
	font-weight: bold;
}

.button
{
	font-family: open sans;
	font-weight: bold;
	font-size: 1em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	height: 3em;
	width: 10em;
	text-align:center;
}

.residentButtons
{
	font-family: open sans;
	font-weight: bold;
	font-size: 1em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	height: 3em;
	width: 10em;
	text-align:center;
	display: inline-block;
}

#outer
{
    width:100%;
    text-align: center;
}

#radio label {
  float: left;
}
#radio ul {
  margin: 0;
  list-style: none;
  float: left;
  display: inline-block;
}

.submit
{
	margin: 1em;
}

.column
{
	/* border: 2px solid black; */
	height: 25em;
	display: inline-block;
    width: 20%;
	padding: 1.5em;
	vertical-align: top;
	margin: 2em auto;
	text-align:left;
}

 /* Create two equal columns that floats next to each other */
.column2 {
    float: left;
    width: 50%;
    padding: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 

.wrapper
{
	background: white;
	border: 2px solid black;
	text-align:center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.wrapper2
{
	background: white;
	border: 2px solid black;
	text-align:left;
    width: 90%;
    margin: 0 auto;
}

#login
{
	font-family: open sans;
	position: relative;
	padding: 2.5em;
	margin: 2em auto;
	text-align:center;
}

#loginStaff
{
	display: inline-block;
    width: 30%;
	margin-right: 2.5em;
    vertical-align: top;
	text-align:left;
}
#fieldset
{
	border-style: ridge;
	border-radius: 5px; 
}
#loginResident
{
	display: inline-block;
    width: 30%;
	margin-left: 2.5em;
	text-align:left;
}

#emailTextBox
{
	height: 2em;
	width: 15em;
	border-style: ridge;
	border-radius: 7.5px;
	margin: 0 0 0 .5em;
}

#passwordTextBox
{
	height: 2em;
	width: 15em;
	border-style: ridge;
	border-radius: 7.5px;
	margin: 0 0 0 3em;
}

@media screen and (max-width: 600px) 
{
     #loginStaff, #loginResident
     {
          max-width: 100%;
     }
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
	float: center;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	float: center;
}

.search-container {
		float: right;
		margin: 1em;
}

header {
    background-color: white;
	font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7em;
	display: flex;
	align-items: center;
	box-shadow: 0 0 1em 0 black;
}

header * {
	margin-left: 3.6em;
    display: inline;
}

header li {
    margin: 0.1em;
}

header li a {
    color: #3C491E;
    text-decoration: none;
	
}

a
{
  text-decoration: none;
  color: #3C491E;
  font-family: 'Roboto', sans-serif; 
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #AE6143;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  margin: 1.5em;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.footer {
	font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #AE6143;
    color: white;
    text-align: center;
	box-shadow: 0 0 0 0.1em black;
}