/*

Damascus Base CSS

COLOR SCHEME:

Black - #000000
Kelly Green - #75A442
Deep Teal - #037264
Deep Olive Green - #3C491F
Gold - #E7CD27
Light Brown - #AC6243

*/

header img {
    height: 4em;
	margin-left: 1em;
}

main {
    color: white;
}

input, select {
	border-radius: 4px;
	padding: .25em;
	border: .4px solid black;
}

body {
	background-image: url("../img/leaves.png");
	font-family: Roboto Light;
    margin-top: 7em;
	padding: 1em;
	margin-bottom: 7em;
	overflow-x: hidden;
}

.button
{
	font-family: open sans;
	font-weight: bold;
	font-size: 1em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	height: 3em;
	width: 10em;
	text-align:center;
}

.submit
{
	margin: 1em;
}

.wrapper
{
	background: white;
	border: 2px solid black;
	text-align:center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/********************* BASE STAFF *******************/

label
{
	font-family: open sans;
	font-weight: bold;
}

.column
{
	/* border: 2px solid black; */
	height: 25em;
	display: inline-block;
    width: 20%;
	padding: 1.5em;
	vertical-align: top;
	margin: 2em auto;
	text-align:left;
}

/********************* END OF BASE STAFF ********************/

/********************* BASE CALL LOG *******************/

.hide {
    display: none;
}

.highlight, .highlight2{
    background-color: #75A442;
    color: white;
    border: 1.5px solid black;
    width: 23em;
    text-align: left;
    padding-left: .5em;
    border-radius: 3px;
}

.highlight2{
    width: 11em;
    margin-right: .8em;
}

.large {
    width: 17em;
}

.green {
    color: #037264; 
    text-align: left;
    text-decoration: underline;
}

.wrapper3
{
	background: white;
	border: 2px solid #037264;
    border-radius: 3px;
	text-align:center;
    width: 70em; 
    margin: 0 auto;
    text-align: center;
}

.column3{
    margin-right: 1em;
    margin-left: 1.5em;

}

.column3, .column4
{
    margin-top: 0;
	display: inline-block;
    text-align:left;
    width: 30em;
    border: 2px solid #037264;
    border-radius: 3px;
    padding: 1.5em;
    padding-left: 2em;
    height: 37em;
}

.column4{
    margin-right: 3em;
    margin-left: 1em;
    float: right;
}

#a-link {
    margin-left: 5em;
}

#commentsArea {
    width: 23em;
    border: 1px solid black;
    border-radius: 3px;
}

.checkin {
    width: 23em;
}

#dateNow, #timeNow {
    width: 11em;
    margin-right: .8em;
}

/********************* END OF BASE CALL LOG *******************/

/********************* RESIDENT VIEW ******************/

.tdSmall{
    width: 5em;
    text-align: right;
}

.table {
    background-color: white;
    border: 2px solid black;
    box-shadow: 3pt 3pt 6pt #A9A9A9; /* light grey */
    font-size: 16pt;
    font-family: 'Roboto', sans-serif; 
}


#radio label {
  float: left;
}

#radio ul {
  margin: 0;
  list-style: none;
  float: left;
  display: inline-block;
}

tr {
    padding-left: 10px
    padding-right: 10px;
}

.icon {
    height: 30pt; 
}

/********************* END OF RESIDENT VIEW *******************/

/********************* BASE PLANNER *******************/

.right-align, .right-align-2 {
    float: right;
    margin-right: 2em;
    width: 18em;
}

.right-align-2 {
    width: 11em;
}

.totheright {
    float: right;
    margin-right: 2em;
}

.wrapper2
{
	background: white;
	border: 2px solid black;
	text-align: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

hr {
    border: 1.5px solid black;
    margin: 0;
}

legend {
    font-size: 1.5em;
    color: white;
    background: #75A442;
    padding: .3em;
    width: 10em;
}

.column5{
    margin-right: 0;
    margin-left: 3.6em;
}

.column5, .column6
{
    margin-top: 0;
	display: inline-block;
    text-align:left;
    width: 38em;
    border: 2px solid #75A442;
    border-radius: 3px;
    padding: 1.5em;
    padding-left: 2em;
    height: 40em;
}

.column6{
    margin-left: 0;
    margin-right: 3.8em;
    float: right;
}

.eventlist {
    width: 76em;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.icon2 {
    height: 30pt;
}

/********************* END OF BASE PLANNER *******************/

/********************* CASE NOTE *******************/

.wrapper4 {
    border: 1.5px solid black;
    width: 85%;
    background-color: white;
    padding: 2em;
    margin-left: 6.5em;
    margin-right: 6.5em;
}


.txtbox {
    margin-right: 2em;
}

#frmCaseNote {
    margin-left: 10em;
    margin-right: 10em;
}

button {
    margin: 2em;
}

/********************* END OF CASE NOTE *******************/

#login
{
	font-family: open sans;
	position: relative;
	padding: 2.5em;
	margin: 2em auto;
	text-align:center;
}

#loginStaff
{
	display: inline-block;
    width: 30%;
	margin-right: 2.5em;
    vertical-align: top;
	text-align:left;
}
#fieldset
{
	border-style: ridge;
	border-radius: 5px; 
}
#loginResident
{
	display: inline-block;
    width: 30%;
	margin-left: 2.5em;
	text-align:left;
}

#emailTextBox
{
	height: 2em;
	width: 15em;
	border-style: ridge;
	border-radius: 7.5px;
	margin: 0 0 0 .5em;
}

#passwordTextBox
{
	height: 2em;
	width: 15em;
	border-style: ridge;
	border-radius: 7.5px;
	margin: 0 0 0 3em;
}

@media screen and (max-width: 600px) 
{
     #loginStaff, #loginResident
     {
          max-width: 100%;
     }
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
	float: center;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	float: center;
}

.search-container {
		float: right;
		margin: 1em;
}

header {
    background-color: white;
	font-family: 'Roboto', sans-serif;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 7em;
	display: flex;
	align-items: center;
	box-shadow: 0 0 1em 0 black;
}

header * {
	margin-left: 3.6em;
    display: inline;
}

header li {
    margin: 0.1em;
}

header li a {
    color: #3C491E;
    text-decoration: none;
	
}

a
{
  text-decoration: none;
  color: #3C491E;
  font-family: 'Roboto', sans-serif; 
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #AE6143;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -50px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  margin: 1.5em;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.footer {
	font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #AE6143;
    color: white;
    text-align: center;
	box-shadow: 0 0 0 0.1em black;
}

/* Custom  damascus-way bootstraps overrides*/

.dw-col {

}

.dw-row {

}

.dw-container {
    border-radius: 5px;
    box-shadow: 10px 15px 15px #4C5B5C;
}