/**
 * Created by PhpStorm.
 * WebProject - 
 * User: Cole
 * Email: sterlinn@csp.edu
 * Date: 11/1/2018
 * Time: 12:41 PM
 */

#btnLogin {
    border-radius: 2pt;
    /*background-color: #75A442; /* Kelly Green */
    box-shadow: 1pt 1pt 2pt #A9A9A9; /* light grey */
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

body{
    margin-top: 0;
}

fieldset{
    background-color: white;
    border-color: #75A442; /* Kelly Green */
    /* #037264 - Deep Teal         */
    border-radius: 3pt;
    box-shadow: 2pt 2pt 5pt #A9A9A9; /* light grey */
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    text-align: center;
    width: 25em;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    color: #75A442;
}